---
apiVersion: "kubeadm.k8s.io/v1beta3"
kind: InitConfiguration
nodeRegistration:
    name: {{ansible_hostname}}
localAPIEndpoint:
    advertiseAddress: {{ hostvars[ansible_hostname].ansible_host }}
---
apiVersion: "kubeadm.k8s.io/v1beta3"
kind: ClusterConfiguration
etcd:
    local:
        extraArgs:
            initial-cluster-state: new
            name: {{ansible_hostname}}
            listen-peer-urls: "https://0.0.0.0:2380"
            listen-client-urls: "https://0.0.0.0:2379"
            advertise-client-urls: "https://{{ hostvars[ansible_hostname].ansible_host }}:2379"
            initial-advertise-peer-urls: "https://{{ hostvars[ansible_hostname].ansible_host }}:2380"
            initial-cluster: {% for server in groups.master %}{{server}}=https://{{ hostvars[server].ansible_host }}:2380,{%endfor%}
        serverCertSANs:
        - "{{ hostvars[ansible_hostname].ansible_host }}"
        - master
        peerCertSANs:
        - "{{ hostvars[ansible_hostname].ansible_host }}"