user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 768;
	# multi_accept on;
}


stream {
    upstream masters {
        hash $remote_addr consistent;
        {% for server in groups.master %}
        server {{server}}:6443;
        {%endfor%}
    }

    server {
        listen {{nginx_master_port}};
        proxy_connect_timeout 1s;
        proxy_timeout 3s;
        proxy_pass masters;
    }
}